html {
	height: 100%;
}


body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;

	-webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;

	color: #fff;
	overflow: hidden;
    position: relative;
}


canvas {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

#instructions {
    color: white;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0 16px 16px 0;
    font-size: 16px;
    line-height: 20px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
}

.bold {
    font-weight: 600;
}

.title {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 32px;
    text-align: center;
    font-weight: 300;
    margin-bottom: 16px;
}

p:last-of-type {
    margin-bottom: 8px;
}

a {
    color: white;
    padding-top: 16px;
    text-decoration: none;
    border-bottom: 1px solid white;
    padding-bottom: 1px;
}

*.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}